<p>
  <strong>Title:</strong>
  <%= @article.title%>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text%>
</p>

<%# show comments for article %>
<%# iterate over @article.comments collection, each comment is assigned to local var (comment). 
which is then available in the partial.
name of partial determined by looking at model name in the collection (comment.rb in models folder) %>
<h2>Comments</h2>
<%= render @article.comments %>

<%# add comments form %>
<h2>Add a comment:</h2>
<%# array passed to model builds nested route e.g. /articles/1/comments %>
<%= render "comments/form" %>


<%= link_to 'Edit', edit_article_path(@article)%> |
<%= link_to 'Back', articles_path %>